section{
    background: #111;
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills,
.teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    color: #fff;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #111;
    transform: translateX(-50%);
}
.menu-btn{
    color: rgb(255, 255, 255);
    font-size: 23px;
    cursor: pointer;
    display: none;
    font-weight: 800;
}
.menu i{
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 5px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1.9;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    border-radius: 50%;
    filter: brightness(90%);
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:focus{
    color: #fff;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: rgb(133, 130, 130);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(167, 161, 161);
}