@media(prefers-color-scheme: Light){
    section{
        background: #fff;
    }
    .about .about-content .right .text,
    .about .about-content .right p{
        color: #111;
    }
    .skills .skills-content .left .text,
    .skills .skills-content .left p,
    .skills .skills-content .right span{
        color: #111;
    }
    .contact .contact-content .text,
    .contact .contact-content .left p{
        color: #111;
    }
    .contact .contact-content .info .head,
    .contact .contact-content .info .sub-title{
        color: #111;
    }
    .contact .right form .field input,
    .contact .right form .textarea textarea{
        background: #fff;
        border-color: crimson;
        color: #111;
    }
    .skills .skills-content .right .line{
        background: rgb(104, 104, 104);
    }
    .owl-dot{
        height: 13px;
        width: 13px;
        margin: 0 5px;
        outline: none!important;
        border-radius: 50%;
        border: 2px solid #222!important;
        transition: all 0.3s ease;
    }
    .owl-dot.active{
        width: 35px;
        border-radius: 14px;
    }
    .owl-dot.active,
    .owl-dot:hover{
        background: #222!important;
    }
    ::placeholder{
        color: rgb(107, 107, 107);
    }
    @media (max-width: 947px){
        .menu-btn{
            display: block;
            z-index: 999;
        }
        .menu-btn i.active:before{
            content: "\f00d";
            color: crimson;
        }
        .navbar .menu{
            position: fixed;
            height: 100vh;
            width: 100%;
            left: -100%;
            top: 0;
            background: #fff;
            text-align: center;
            padding-top: 80px;
            transition: all 0.3s ease;
        }
        .navbar .menu.active{
            left: 0;
        }
        .navbar .menu li{
            display: block;
        }
        .navbar .menu li a{
            display: inline-block;
            margin: 20px 0;
            font-size: 25px;
            color: #111;
        }
    }
    section .title{
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        color: #111;
        padding-bottom: 20px;
        font-family: 'Ubuntu', sans-serif;
    }
    section .title::before{
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 180px;
        height: 3px;
        background: #111;
        transform: translateX(-50%);
    }
    section .title::after{
        position: absolute;
        bottom: -8px;
        left: 50%;
        font-size: 20px;
        color: crimson;
        padding: 0 5px;
        background: #fff;
        transform: translateX(-50%);
    }
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: rgb(189, 189, 189);
    }
    ::-webkit-scrollbar-thumb {
        background: rgb(97, 97, 97);
        border-radius: 100px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(71, 71, 71);
    }
}